@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  box-sizing: border-box;
  font-family: Montserrat;
}

header {
  background-color: white;
  display: flex;
  height: 80px;
}

header > div > a:first-child {
  align-items: center;
  display: flex;
}

header > div > a:first-child > img{
  padding: 0 40px;
}

@media(max-width: 1440px) {
  header > div > a:first-child img{
    padding: 0;
  }

  .other {
    padding: 0;
    margin: 0;
  }
}

header > div {
  max-width: 1200px;
  margin: auto;
  display: flex;
}

.logo-test {
  position: absolute;
  bottom: 0;
}

header nav {
  padding: 0 20px;
  border-right: 1px solid #F4F4F4;
  border-left: 1px solid #F4F4F4;
}

header nav ul li a img {
  height: 24px;
  width: 24px;
  margin-bottom: 10px;
}

header nav > ul > li > a:last-child{
  font-size: 12px;
  line-height: 11px;
  text-align: center;
  color: black;
  font-weight: 600; 
}

header  nav > ul > li:nth-child(4) > a img {
  height: 18px;
  width: 18px;
}

header nav ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 80px;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-field {
  width: 380px;
  border-right: 1px solid #F4F4F4;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-field input {
  border: none;
  margin-left: 25px;
  width: 275px;
}

.search-field input:focus{
  outline: none;
}

.search-field input::placeholder {
  font-size: 16px;
line-height: 15px;
color: #CECECE;
}

.user-content {
  display: flex;
  align-items: center;
  border-right: 1px solid #F4F4F4;
  width: 326px;
}

.user-content > div:last-child h4 {
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
  font-weight: 600;
}

.user-content > div:last-child h4 span{
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
  margin-left: 10px;
  color: rgba(24, 24, 24, 0.2);
}

.user-content > div:first-child {
  margin-left: 30px;
}

.user-content > div:last-child {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.user-content small {
  margin-top: 10px;
  font-size: 12px;
  line-height: 11px;
  color: #747474;
  font-weight: 500;
}

.user-content small span {
  color: #02B033;
}

.other { 
  padding: 0 20px;
  font-size: 12px;
  line-height: 11px;
  border-right: 1px solid #F4F4F4;
  margin-right: 40px;
}

.other a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: black;
}

.other img {
  height: 24px;
  width: 24px;
}

footer > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.navigation > div {
  display: flex;
}

.navigation > div li {
  margin-right: 40px;
}

.navigation {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 11px;
}

.navigation h5{
  margin-bottom:30px;
  font-weight: 600;
}

.navigation > div li {
  margin-bottom: 15px;
}

.navigation > div li a {
  color: black;
}

.navigation > div ul a:hover{
  text-decoration: underline;
}

.navigation > div ul {
  margin: 0 10px;
}

.footer-buttons {
  display: flex;
  flex-direction: column;
}

.footer-logo a {
  height: 46px;
  width: 46px;
}

.footer-logo p {
  margin-top:12px;
  font-size: 14px;
  line-height: 150%;
  font-weight: 600;
}

.footer-logo span {
  color: #0275B1;
}

.footer-buttons h5{
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 12px;
  line-height: 11px;
}

.language-select h5{
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 12px;
  line-height: 11px;
}

.language-select select { 
  width: 270px;
  background: #FFFFFF;
border: 1px solid #F0F0F0;
border-radius: 4px;
font-weight: 600;
font-size: 12px;
line-height: 11px;
padding: 7.5px 5px;
}

.language-select select:focus{
  outline: none;
}

.primary-button {
  background: #0275B1;
  border: 1px solid #0275B1;
  border-radius: 4px;
  padding: 10px 15px;
  width: 170px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-bottom: 10px;
  font-weight: 600;
}

.primary-button:hover {
  background: white;
  border: 1px solid #0275B1;
  color: #0275B1;
}

.secondary-button:hover {
  background: #0275B1;
  border: 1px solid #0275B1;
  color: white;
}

.secondary-button {
  background: white;
  border: 1px solid #0275B1;
  border-radius: 4px;
  padding: 10px 15px;
  width: 170px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0275B1;
  font-weight: 600;
}

header nav li:hover a {
  filter: invert(31%) sepia(71%) saturate(4869%) hue-rotate(183deg) brightness(89%) contrast(98%);
}

header nav li:hover {
  cursor: pointer;
  border-bottom: 2px solid #0275B1;
}

.notification {
  position: absolute;
  margin-top: -24px;
  margin-left: 8px;
}

@media(max-width: 1440px) {
  header > div > a:first-child img{
    padding: 0 10px;
  }

  .other {
    padding: 0 10px;
    margin: 0;
  }
}


